<hb-navbar></hb-navbar>
<!-- this is for 5ths -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-5ths col-xs-3" ng-repeat="pl in vm.data.players track by $index">
            <div class="media">
                <div class="media-left media-middle">
                    <img ng-src="https://www.heroesofnewerth.com/getAvatar_SSL.php?id={{ pl.account_id }}" height="45" width="45">
                </div>
                <div class="media-body">
                    <h4 style="margin-bottom: 0;bottom:0;">{{ pl.nickname }}</h4>
                    <h5 class="text-info" style="margin-top:5px;">{{ pl[vm.m + '_amm_team_rating'] || pl[vm.m + '_pub_skill'] | numeraljs:'0' }}</h5>
                </div>
                <div class="media-right media-middle">
                    <hb-hero-img-from-name name="pl.hero_name"></hb-hero-img-from-name>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <h5 class="text-success">wins</h5>{{ pl[vm.m + '_wins'] }}
                </div>
                <div class="col-xs-4 text-center">
                    <h5 class="text-danger">loss</h5>{{ pl[vm.m + '_losses'] }}
                </div>
                <div class="col-xs-4 text-center">
                    <h5 style="margin-top: 25px;">{{ pl[vm.m + '_winpercent'] * 100 | number:1 }}%</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <h5>Kills</h5>{{ pl[vm.m + '_avg_kills'] | number:2 }}
                </div>
                <div class="col-xs-4 text-center">
                    <h5>Deaths</h5>{{ pl[vm.m + '_avg_deaths'] | number:2 }}
                </div>
                <div class="col-xs-4 text-center">
                    <h5>KDR</h5>{{ pl[vm.m + '_kdr'] | number:2 }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h5>Most Played</h5>
                    <hb-player-used-heroes player="pl.account_id"></hb-player-used-heroes>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <table id="match" class="table">
            <thead>
                <tr>
                    <th>Player</th>
                    <th class="text-center"><span>Win - Loss - %</span></th>
                    <th class="text-center"><span>Kills</span></th>
                    <th class="text-center"><span>Deaths</span></th>
                    <th class="text-center"><span>Asists</span></th>
                    <th class="text-center"><span>KDR</span></th>
                    <th class="text-center"><span>Most Played</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pl in vm.data.players track by $index" class="player-{{ pl.position }}">
                    <td>
                        <hb-hero-img-from-name name="pl.hero_name"></hb-hero-img-from-name>
                        <!-- <a href="/player/{{ pl.nickname }}/"> -->
                            <img src='https://www.heroesofnewerth.com/getAvatar_SSL.php?id={{ pl.account_id }}' width='45'>
                            {{ pl.nickname }}
                        <!-- </a> -->
                        <span class="text-info" style="margin-top:5px;color:#8E8E8E;">{{ pl[vm.m + '_amm_team_rating'] || pl[vm.m + '_pub_skill'] | numeraljs:'0' }}</span>
                    </td>
                    <td class="text-center">
                        <span class="text-success">{{ pl[vm.m + '_wins'] }}</span> -
                        <span class="text-danger">{{ pl[vm.m + '_losses'] }}</span> -
                        <span>{{ pl[vm.m + '_winpercent'] * 100 | number:0 }}%</span>
                    </td>
                    <td class="text-center">{{ pl[vm.m + '_avg_kills'] | number:1 }}</td>
                    <td class="text-center">{{ pl[vm.m + '_avg_deaths'] | number:1 }}</td>
                    <td class="text-center">{{ pl[vm.m + '_avg_assists'] | number:1 }}</td>
                    <td class="text-center">{{ pl[vm.m + '_kdr'] | number:2 }}</td>
                    <td class="text-center"><hb-player-used-heroes player="pl.account_id"></hb-player-used-heroes></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
