<div ng-if="vm.data">
    <div class="b-command__green">
        <a class="b-user" href="" style="padding-left:7px;">
            <div class="b-user__highlight" style="-webkit-border-top-left-radius:9px; -moz-border-radius-topleft:9px; border-top-left-radius:9px;"></div>
            <hb-overview-card p="vm.data.players[0]"></hb-overview-card>
        </a>
        <a class="b-user" href="">
            <div class="b-user__highlight"></div>
            <hb-overview-card p="vm.data.players[1]"></hb-overview-card>
        </a>
        <a class="b-user" href="">
            <div class="b-user__highlight"></div>
            <hb-overview-card p="vm.data.players[2]"></hb-overview-card>
        </a>
        <a class="b-user" href="">
            <div class="b-user__highlight"></div>
            <hb-overview-card p="vm.data.players[3]"></hb-overview-card>
        </a>
        <a class="b-user" href="" style="width:223px;">
            <div class="b-user__highlight" style="-webkit-border-top-right-radius:9px; -moz-border-radius-topright:9px; border-top-right-radius:9px;"></div>
            <hb-overview-card p="vm.data.players[4]"></hb-overview-card>
        </a>
    </div>
    <div class="b-command__red">
        <a class="b-user" href="" style="padding-left:7px;">
            <div class="b-user__highlight" style="-webkit-border-bottom-left-radius:9px; -moz-border-radius-bottomleft:9px; border-bottom-left-radius:9px;"></div>
            <hb-overview-card p="vm.data.players[5]"></hb-overview-card>
        </a>
        <a class="b-user" href="">
            <div class="b-user__highlight"></div>
            <hb-overview-card p="vm.data.players[6]"></hb-overview-card>
        </a>
        <a class="b-user" href="">
            <div class="b-user__highlight"></div>
            <hb-overview-card p="vm.data.players[7]"></hb-overview-card>
        </a>
        <a class="b-user" href="">
            <div class="b-user__highlight"></div>
            <hb-overview-card p="vm.data.players[8]"></hb-overview-card>
        </a>
        <a class="b-user" href="" style="width:223px;">
            <div class="b-user__highlight" style="-webkit-border-bottom-right-radius:9px; -moz-border-radius-bottomright:9px; border-bottom-right-radius:9px;"></div>
            <hb-overview-card p="vm.data.players[9]"></hb-overview-card>
        </a>
    </div>
</div>
