@import 'variables.scss';
/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

#navbar {
    ul > .active {
        border-bottom: 1px solid #888;
    }
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

$player-1:#002c9f;
$player-2:#00c19e;
$player-3:#770092;
$player-4:#f2d500;
$player-5:#ff7d29;
$player-6:#ff44ab;
$player-7:#727272;
$player-8:#00a0da;
$player-9:#006448;
$player-10:#562507;
$gold: rgb(255, 167, 0);
.player-0 {
    border-left: 1px solid;
    border-left-color: #002c9f;
    // background-color: rgba(0, 44, 159, .15);
}
.player-1 {
    border-left: 1px solid;
    border-left-color: #00c19e;
    // background-color: rgba(0, 193, 158, .15);
}
.player-2 {
    border-left: 1px solid;
    border-left-color: #770092;
    // background-color: rgba(119, 0, 146, .15);
}
.player-3 {
    border-left: 1px solid;
    border-left-color: #f2d500;
    // background-color: rgba(242, 213, 0, .15);
}
.player-4 {
    border-left: 1px solid;
    border-left-color: #ff7d29;
    // background-color: rgba(255, 125, 41, .15);
}
.player-5 {
    border-left: 1px solid;
    border-left-color: #ff44ab;
    // background-color: rgba(255, 68, 171, .15);
}
.player-6 {
    border-left: 1px solid;
    border-left-color: #727272;
    // background-color: rgba(114, 114, 114, .15);
}
.player-7 {
    border-left: 1px solid;
    border-left-color: #00a0da;
    // background-color: rgba(0, 160, 218, .15);
}
.player-8 {
    border-left: 1px solid;
    border-left-color: #006448;
    // background-color: rgba(0, 100, 72, .15);
}
.player-9 {
    border-left: 1px solid;
    border-left-color: #562507;
    // background-color: rgba(86, 37, 7, .15);
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
